/**
* CONTENTS
*
* HEADER STYLES
*  Header media queries
* MAIN STYLES
*  Main media queries
* ARTICLE STYLES
*  Article media queries
* ASIDE STYLES
*  Aside media queries
* PROGRAM STYLES
*  Program media queries 
* REFLEXTION STYLES
*  Reflection media queries
* FOOTER STYLES
*  Footer media queries
**/




/* === HEADER STYLES === */

.header {
    text-align:       center;
	padding:          1.25rem;
    color:            burlywood;
	background-image: linear-gradient( #110000, #410606, #b81111, #c95d5d);
}

.header-title {
    font-family: 'Griffy', cursive;
    font-size:   1.7em;
    padding:     1em;
}

.logo-image {
    width:       4em;
    padding-top: 1em;
}

.icons {
    color:    black;
    font-size: 1em;
}

.icons:hover {
    color:      lightskyblue;
    transform:  rotate(360deg) scale(1.5);
    transition: all .5s ease-in;
}



/* === HEADER MEDIA QUERIES === */

@media only screen and (min-width: 480px) {

   .header-title {
       font-size: 2em;
   }

   .logo-image {
    width: 8em;
   }

  .icons {
    font-size: 1.5em;
   }
}


@media only screen and (min-width: 768px) {
   
    .title {
        width: 50%;
    }

    .header-title {
        font-family: 'Griffy', cursive;
        font-size:   2.5em;
    }
}


@media only screen and (min-width: 992px) {

    .title {
        width: 50%;
    }

    .header-title {
        font-family: 'Griffy', cursive;
        font-size:   3em;
    }
}






/* === MAIN STYLES === */

.main {
   padding-top:     8em;
   background:      url('https://images.freeimages.com/images/large-previews/512/damn-rainbows-1197002.jpg') no-repeat center center fixed;
   background-size: cover;
}

.main section {
    margin:        1em;
    padding:       1em;
    border-radius: 1%;
}

#menu-icon {
    margin-left:   2em;
    margin-bottom: -1em;
    color:         rgb(8, 95, 8);
    align-self:    flex-start;
}

#menu-icon:hover {
    color:              lightskyblue;
    transition-duration: 1.5s;
}

@media only screen and (min-width: 480px) {
   
    .main {
        padding-top: 10em;
    }

    .main section {
        margin:  1em;
        padding: 2em;
    }

    #menu-icon {
        margin-top:    0.8em;
        margin-bottom: 0.2em;
        font-size:     1.5em;
    }
}



/* === MAIN MEDIA QUERIES === */

@media only screen and (min-width: 768px) {
   
    #menu-icon {
        display: none;
    }
}
   
@media only screen and (min-width: 992px) {

    .main {
        padding-top: 12em;
    }
}






/* === ARTICLE STYLES === */


.intro-section {
    background-image: radial-gradient(circle, #083608,  #004d00, rgba(59, 156, 48, 0.6), rgba(40, 180, 25, 0.4));
}

.profile-card {
    text-align: center;
}

#profile-pic {
 width: 70%;
}

.profile-card figcaption {
    font-size:   1em;
    font-weight: bold;
    line-height: 1.2em;
}

.intro-text {
    line-height: 1.2em;
    text-indent: 2em;
    text-align:  justify;
    font-size:   0.7em;
}



/* === ARTICLE MEDIA QUERIES === */

@media only screen and (min-width: 480px) {

    .intro-section {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {

    .intro-section {
        width: 93%;
    }

    #profile-pic {
        width: 40%;
    }

    .profile-card figcaption {
        font-size: 1.3em;
    }

    .intro-text {
        font-size: 0.8em;
        padding:   0.5em;
    }
}

@media only screen and (min-width: 992px) {

    .intro-section {
        width: 80%;
    }

    .profile-card figcaption {
        font-size: 1.8em;
    }

    .intro-text {
        font-size:   0.9em;
        line-height: 1.2em;
    }
}




/* === ASIDE STYLES === */

.aside {
  display: none;
}



/* === ASIDE MEDIA QUERIES === */


@media only screen and (min-width: 768px) {

   .aside {
    display:          block;
    background-image: linear-gradient(180deg, #c95d5d 20%, #e60000, #800000, #330000);
    }
    
    .aside-list {
        list-style-type: none;
        line-height:     1.5em;
        font-weight:     600;
        font-size:       0.9em;
        padding-top:     12em;
        margin-left:     -0.5em;
    }
    
    .aside-list-item {
        text-decoration: none;
        color:          #330000;
    }
    
    .aside-list-item:hover, .knowledge-fields:hover {
        color:              lightskyblue;
        transition-duration: 1.5s;
    }
    
    .aside-list-item:active, .knowledge-fields:active {
        color: rgb(1, 32, 1);
    }
    
    .knowledge-list {
        list-style-type: none;
        line-height:     1.2em;
    }
    
    .knowledge-fields {
        font-size:       0.9em;
        text-decoration: none;
        color:           #0e3d03;
    }
    
    #therapy-fields {
        margin-top: 0.1em;
    }
}


@media only screen and (min-width: 992px) {
    
    .aside-list {
        font-size:   1em;
        line-height: 1.8em;
    }
    
}

@media only screen and (min-width: 1200px) {
    
    .aside-list {
        font-size: 1.2em;
    }
}





/* === PROGRAM STYLES === */

.program-section {
  background-color: rgb(173, 139, 93, 0.8);
  box-shadow:       5px -10px rgba(202, 228, 199, 0.4);
  border:           1px solid rgba(59, 156, 48);
}

.section-title {
  font-size: 1em;
}

.section-text {
    line-height: 1.2em;
    text-indent: 2em;
    text-align:  justify;
    font-size:   0.7em;
}



/* === PROGRAM MEDIA QUERIES === */


@media only screen and (min-width: 992px) {

    .section-title {
        font-size: 1.3em;
      }

    .section-text {
        line-height: 1.4em;
        font-size:   0.8em;
    }
}





/* === REFLECTION STYLES === */


#reflection-title {
    font-family:  'Griffy', cursive;
    margin-top:   0;
    color:        rgb(1, 32, 1);
    text-shadow:  4px 4px 3px rgb(192, 240, 217);
}

.single-reflection {
    width:            100%;
    background-color: rgb(233, 221, 176, 0.7);
    padding:          0.5em;
    margin:           0.5em;
    border-radius:    1%;
    border:           2px dotted rgba(40, 180, 25);
}



/* === REFLECTION MEDIA QUERIES === */


@media only screen and (min-width: 992px) {

    #reflection-title {
        font-size: 2em;
    }
}





/* === FOOTER STYLES === */


.footer-element {
  padding:    1em;
  color:      rgba(59, 156, 48);
  font-style: italic;
  font-size:  0.6em;
}

.footer-link {
    color:rgba(59, 156, 48);
}

.footer-link:hover {
    color:              lightskyblue;
    transition-duration: 1.5s;
}



/* === FOOTER MEDIA QUERIES === */


@media only screen and (min-width: 768px) {

  .footer-element {
      font-size: 0.8em;
  }
}

@media only screen and (min-width: 1200px) {

 .footer-element {
     font-size: 0.9em;
 }
}
