/**
* CONTENTS
*
**/


/* Header Styles */

.header {
    text-align: center;
	padding: 1.25rem;
    color: #fff;
	background-color: brown;
}

/* Article Styles */

.intro-section {
    width: 95%;
    margin: 0 auto 1rem;
	padding: 0.3125rem;
    background-image: radial-gradient(circle, #330000,  #800000, #e60000);
}

.profile-card {
    text-align: center;
}