/**
* CONTENTS
*
* Header Styles
* Article Styles
* Aside Styles
* Programs Styles
* Reflextions Styles
* Footer Styles 
**/


/* Header Styles */

.header {
    text-align: center;
	padding: 1.25rem;
    color: #fff;
	background-color: brown;
}

/* Article Styles */

.intro-section {
    background-image: radial-gradient(circle, #330000,  #800000, #e60000);
}

.profile-card {
    text-align: center;
}

/* Aside Styles */
/* Programs Styles */

.program-section {
background-color: burlywood;
}
/* Reflextions Styles */

.reflection-section {
background-color: cornsilk;
}

/* Footer Styles */