
/**
* CONTENTS
*
*Grid system............container and grid items.
*Header fixed...........the header is a fixed element.
*Flexboxes..............layout of elements.
*Media queries..........responsive CSS rules.
**/



/* ==== GRID SYSTEM ==== */

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 5%;
    grid-template-areas:
                         "aside main"
                         "footer footer";
}


.aside {
    grid-area: aside;
    background-color: rgb(42, 126, 165);
}

.main {
    grid-area: main;
    background-color: rgb(71, 9, 9);
}

.footer {
    grid-area: footer;
    background-color: rgb(13, 44, 21);
}


/* ==== HEADER FIXED ==== */

.header {
    position: fixed;
    width: 100vw;
    height: 10em;
}



/* ==== FLEXBOXES ==== */

.main section {
    margin: 3em;
    padding: 2em;
}

/* ==== MEDIA QUERIES ==== */

/* Nav Styles */

.main-nav {
    position: fixed;
}

/* Footer Styles */


/* breakpoints to use:  (min-width: 320px, 480px, 768px, 992px és 1200px) */