/* --- CONTENTS --- */

.container {
    background-image: radial-gradient(#110000, #110000, #410606, rgb(165, 7, 7));
    background-size: cover;
}

h2 {
    text-shadow: 2px 2px rgb(228, 77, 8);
    color:rgb(231, 207, 211);
}

h3 {
  font-size: 1.6em;
  color:rgb(46, 1, 9);
  text-align: center;
}

p {
    background-color: rgba(236, 236, 197, 0.5);
    color:rgb(68, 3, 14);
    padding: 0.5em;
    border-radius: 5%;
}
.icon {
    color: rgb(228, 206, 210);
}

.referring {
    background-color: rgba(212, 230, 245, 0.3);
    padding: 0 1em 3em;
    border-radius: 5%;
    position: relative;
}

.picture-viewer {
    height: 8em;
}
