
/* --- CONTENTS --- */

.container {
    background:  rgb(88, 115, 173) url(/pictures/tree.jpg) center fixed;
    background-size: cover;
    color: rgb(34, 3, 92);
}

h2 {
    text-shadow: 2px 2px rgb(149, 143, 233);
    color:rgb(2, 11, 58);
}

p {
    background-color: rgba(164, 175, 137, 0.4);
    color:rgb(12, 52, 58);
    padding: 0.5em;
    border-radius: 5%;
}
.icon {
    color: rgb(22, 5, 68);
}

.referring {
    background-color: rgba(164, 175, 137, 0.4);
    color:rgb(12, 52, 58);
    padding: 0 0.8em;
    border-radius: 5%;
}