

/* --- CONTENTS --- */

.container {
    background:  rgb(29, 34, 5) url(/pictures/sunset.jpg) center fixed;
    background-size: cover;
    color: rgb(200, 214, 139);
}

h2 {
    text-shadow: 2px 2px rgb(238, 200, 78);
    color:rgb(80, 28, 12);
}

p {
    background-color: rgba(164, 175, 137, 0.7);
    color:rgb(39, 37, 2);
    padding: 0.5em;
    border-radius: 5%;
}
.icon {
    color: rgb(182, 201, 243);
}